
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des utilisateurs

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Utilisateurs </button>
                            <!-- <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer produits </button> -->
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Telephone</th>
                    <th>Role</th>
                    <th>Status</th>
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des Clients

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Client </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer Client </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Telephone</th>
                    <th>Numero de tax</th>
                    <th>Addresse</th>
                    <th>Balance</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des facturier

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Facturier </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer Facturier </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Company</th>
                    <th>Telephone</th>
                    <th>Numero de tax</th>
                    <th>Addresse</th>
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des Fournisseurs

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Frounisseurs </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer Fournisseurs </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Company</th>
                    <th>Telephone</th>
                   
                    <th>Addresse</th>
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  