
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des comptes

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Comptes </button>
                            <!-- <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer produits </button> -->
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>Balance Initiale</th>
                    <th>Default</th>
                    <th>Commentaires</th>
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>12232</td>
                    <td>jesute</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                   
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Balance Sheet

                <span  class="pull-right">
                    <!-- <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Comptes </button> -->
                            <!-- <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer produits </button> -->
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    
                    <th>Nom</th>
                    <th>Numero</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>12232</td>
                    <td>897</td>
                    <td>678</td>
                    <td>123</td>
                    <td class=" text-center"> 76878 </td>
                   
                    
                  </tr>

                  <tr>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td>5676</td>
                    <td>768</td>
                    <td>90809</td>
                                    </tr>
                  
                </tbody>
                <tfoot>
                    
                </tfoot>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  