
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des depenses

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Enregistrer depenses </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer depenses </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Images</th>
                    <th>Nom</th>
                    <th>Code</th>
                    <th>Category</th>
                    <th>Quantites</th>
                    <th>Unites de stockage</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="" height="100"></td>
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="" height="100"></td>
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="" height="100"></td>
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      
      <div class=" col-md-12">
        <div class=" card card-plain">
          <div class=" card-header">
            <h4 class=" card-title">Categories des Depenses
                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Categorie </button>
                </span>
            </h4>

          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Code</th>
                    <th>Nom</th>
                    
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Congosa</td>
                    <td>24354</td>

                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Congosa</td>
                    <td>24354</td>

                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Liste des Quotations

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Ajouter Quotations </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer Commandes </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>Fournisseur</th>
                    <th>Statut</th>
                    <th>Total</th>
                    <th>Facturier</th>
                    <th>Clients</th>
                   
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="" height="100"></td>
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td class=" text-center">$36,738</td>
                   
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="" height="100"></td>
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td class=" text-center">$36,738</td>
                 
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="" height="100"></td>
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td class=" text-center">$36,738</td>
               
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>


      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Les Transferts

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Faire Transferts </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer Transferts </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>Entrepots (From)</th>
                    <th>Entreprots (To)</th>
                    <th>Cout du produits</th>
                    <th>Tax du produits</th>
                    
                    <th>Status </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>Congosa</td>
                    <td>24354</td>
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td class=" text-center">$36,738</td>
                  
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">Les Retours

                <span  class="pull-right">
                    <button class="btn btn-primary"> <i class="tim-icons icon-simple-add"></i>Faire Retour </button>
                            <button class="btn btn-infos"> <i class="tim-icons icon-single-copy-04"></i>Importer Retour </button>
                </span>
            </h4>
            
          </div>
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>Facturier</th>
                    <th>Client</th>
                    <th>Entrepot</th>
                    
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
                    <td>Produits de premieres necessités</td>
                    <td>123</td>
                    <td>123</td>
                    <td class=" text-center"> Kg </td>
                    <td class=" text-center">$36,738</td>
                    <td class=" text-center">$36,738</td>
                 
                    <td>
                        <button class="btn btn-sm btn-info"> Details </button>
                        <button class="btn btn-sm btn-success"> Modifier </button>
                        <button class="btn btn-sm btn-danger"> Supprimer </button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer pull-right">
            <button class="btn btn-sm btn-infos"> Imprimer </button>
            <button class="btn btn-sm btn-infos"> PDF </button>
            <button class="btn btn-sm btn-infos"> CSV </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  